.pxl-portfolio-carousel {
    .pxl-post--featured {
        img {
            width: 100%;
        }
    }
    &.pxl-portfolio-carousel2 {
        overflow: hidden;
        @media #{$max-sm} {
            overflow: visible;
        }
        .pxl-swiper-arrow-wrap {
            width: fit-content;
            height: fit-content;
            bottom: 14px;
            left: 59.3%;
            top: auto;
            @media #{$max-lg} {
                left: auto;
                right: 495px;
            }
            @media #{$max-md1} {
                left: auto;
                right: 0;
            }
            @media #{$max-sm} {
                display: none;
            }
            .pxl-swiper-arrow {
                width: 72px;
                height: 39px;
                border-radius: 200px;
                border: 1px solid #30161E;
                svg path {
                    stroke: #30161E;
                    fill: #30161E;
                }
                &:hover {
                    background-color: rgba($color: #991500, $alpha: .18);
                    border-color: rgba($color: #991500, $alpha: .18);
                    svg path {
                        fill: var(--primary-color);
                        stroke: var(--primary-color);
                    }
                }
            }
        }
        .pxl-carousel-inner {
            overflow: visible;
            margin-inline: -510px;
        }
        .pxl-swiper-container {
            margin: -20px;
            overflow: visible;
            .pxl-swiper-slide {
                padding: 20px;
                &.pxl-active-hover {
                    .pxl-post--content {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }
            }
            @media #{$max-lg} {
                margin: -15px;
                .pxl-swiper-slide {
                    padding: 15px; 
                }
            }
        }
        .pxl-post--inner {
            position: relative;
            padding-bottom: 106px;
            @media #{$max-sm} {
                padding-bottom: 0;;
            }
        }
        .pxl-post--content {
            position: absolute;
            bottom: 0;
            left: 58px;
            padding: 36px 32px 44px 51px;
            border-radius: 15px;
            background: #772632;
            transform: translateY(150px);
            opacity: 0;
            @include transition(all .75s linear);
            @media #{$max-sm} {
                padding: 20px;
                left: 0;
                right: 0;
                top: 100%;
                bottom: auto;
                width: 100%;
                border-radius: 0;
            }

        }
        .pxl-post--category {
            margin-bottom: 15px;
            .pxl-category--link {
                padding: 2px 8px;
                background: rgba(255, 255, 255, 0.20);
                @extend .pxl-b3;
                color: #FFF;
            }
        }
        .pxl-post--title {
            color: #FFF;
            margin-bottom: 20px;
            max-width: 309px;
            @media #{$max-sm} {
                font-size: 22px;
                margin-bottom: 15px;
            }
        }
        .pxl-item--divider {
            background-color: rgba($color: #FFF, $alpha: .3);
            height: 1px;
            border: none;
            margin-bottom: 26px;
            @media #{$max-sm} {
                margin-bottom: 15px;
            }
        }
        .pxl-post--info {
            @extend .h6;
            color: #FFF;
            .pxl-text--highlight {
                color: var(--primary-color);
            }
            + .pxl-post--info {
                margin-top: 8px;
            }
        }
        .pxl-post--btn {
            position: absolute;
            width: 59px;
            height: 59px;
            background-color: var(--primary-color);
            right: 32px;
            bottom: 41px;
            svg, i {
                transition: inherit;
            }
            &:hover {
                background-color: #30161E;
                svg {
                    transform: rotate(45deg);
                }
            }
            @media #{$max-sm} {
                left: auto;
                right: 15px;
                bottom: 20px;
            }
        }
    }
    &.pxl-portfolio-carousel3 {
        .pxl-item--link {
            position: absolute;
            inset: 0;
            z-index: 9;
        }
        .pxl-post--inner {
            overflow: hidden;
            position: relative;
            height: 648.56px;
            border-right: 1px solid rgba($color: #FFF, $alpha: .3);
            display: inline-flex;
            width: 100%;
            align-items: end;
            background:lightgray center / cover no-repeat;
            &:hover {
                border-color: rgba($color: #5E29F9, $alpha: .78);
                .pxl-overlay--hover {
                    opacity: 1;
                }
            }
            @media #{$max-md1} {
                height: 590px;
            }
            @media #{$max-sm} {
                height: 500px;
            }
        }
        .pxl-post--content {
            position: relative;
            z-index: 99;
            width: 100%;
            padding-block: 31.5px 27.5px;
        }
        .pxl-post--title {
            position: relative;
            z-index: 98;
            color: #FFF;
            text-align: center;
            font-family: "DM Sans";
            font-size: 18.906px;
            font-weight: 500;
            line-height: 1.58678;
            text-decoration-line: underline;
            &:hover {
                text-decoration-line: none;
            }
        }
        .pxl-post--category {
            position: relative;
            z-index: 98;
            display: inline-flex;
            justify-content: center;
            width: 100%;
            color: #FFF;
            letter-spacing: 0;
            a {
                color: inherit;
                font-family: "DM Sans";
                font-size: 13.828px;
                font-weight: 400;
                line-height: 1.80791;
                letter-spacing: inherit;
            }
        }
        .pxl-overlay--hover {
            background-color: rgba($color: #5E29F9, $alpha: .78);
            position: absolute;
            width: 100%;
            height: 100%;
            @include transition(all .3s linear);
            opacity: 0;
        }
    }
}


.pxl-filter-inner {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 77px;
    row-gap: 10px;
    margin-bottom: 67px;
    @media #{$max-lg} {
        margin-bottom: 60px;
    }
    @media #{$max-sm} {
        margin-bottom: 45px;
    }
    .filter-item {
        cursor: pointer;
        position: relative;
        color:#04091E;
        font-family: 'Inter';
        font-size: 15.672px;
        font-weight: 400;
        text-transform: capitalize;
        transition: .3s;
        padding-block: 5px 7px;
        &::after {
            content: attr(data-count);
            position: absolute;
            top: 0;
            right: -15px;
            font-size: 15px;
        }
        &::before {
            content: '';
            width: 100%;
            height: 1px;
            background-color: currentColor;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%) scaleX(0);
            transition: inherit;
        }
        &:hover, &.active {
            &::before {
                transform: translateX(-50%) scaleX(1);
            }
        }
    }
}